<!DOCTYPE html>
<html >
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/Home/Index/">Strona główna</a></li>
                    <li><a href="/Home/Add/">Dodaj nową wiadomość</a></li>
                    <li><a href="/Home/List/">Zarządzanie</a></li>
                </ul>
            </div>

            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>Copyright World News Center</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
