@model IEnumerable<Repositories.ViewModels.NewsAdminListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="news-container">
            <div class="news-title">
                <div>
                    <h3><a href="/Home/Details/@item.Id">@item.Title</a></h3>
                </div>
                <span>Dodane: @item.AddDateTime</span>
                <span>Aktualizowane: @item.ModificationDate</span>
                <span>Wyświetleń: @item.Views</span>
            </div>
            <div class="news-content">@item.Description</div>
            <div class="news-author">
                <div>Autor: @item.User</div>
                <div>Komentarze (@item.CommentsCount)</div>
                <div>@Html.ActionLink("Usuń","Delete",new {id=item.Id})</div>
                <div>@Html.ActionLink("Edytuj","Edit",new {id=item.Id})</div>
            </div>
        </div>
    }
}
else
{
    <h1>Brak wiadomości</h1>
}